.line{
    height: 2em;
    width: 0;
    border: 1px solid gray;
}
.move-control{
    display: flex;
    flex-direction: row;
}

.question-edit-controls{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.question-control{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .question-control{
        display: flex;
        flex-direction: column;
    }
  }
