.line{
    height: 2em;
    width: 0;
    border: 1px solid gray;
}
.move-control{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-edit-controls{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}