<!-- Table -->
<div class="table mat-elevation-z1">
    <table mat-table [dataSource]="displayingData" matSort>
    
      <!-- Id column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
    
      <!-- Title column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa ankiety </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>
    
      <!-- StartDate column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Otwarto </th>
        <td mat-cell *matCellDef="let row">

          <!-- StartDate -->
          <div id="start-date-{{row.id}}" *ngIf="row.startDate !== null; else showDotsStart">
            <!-- Divide date into two parts separated via <br> tag-->
            {{getDateWithoutTime(row.startDate)}} <br> {{getTimeWithoutDate(row.startDate)}}
          </div>
          <!-- Alternative - dots -->
          <ng-template #showDotsStart>
            <span><mat-icon class="three-dots-icon">more_horiz</mat-icon></span>
          </ng-template>

        </td>
      </ng-container>
      
      <!-- EndDate column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zamknięto </th>
        <td mat-cell *matCellDef="let row">

          <!-- EndDate -->
          <div id="end-date-{{row.id}}" *ngIf="row.endDate !== null; else showDotsEnd">
            <!-- Divide date into two parts -->
            {{getDateWithoutTime(row.endDate)}} <br> {{getTimeWithoutDate(row.endDate)}}
          </div>
          <!-- Alternative - dots -->
          <ng-template #showDotsEnd>
            <span><mat-icon class="three-dots-icon">more_horiz</mat-icon></span>
          </ng-template>
        
        </td>
      </ng-container>
    
      <!-- Filled column -->
      <ng-container matColumnDef="filled">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Wypełnionych </th>
        <td mat-cell *matCellDef="let row">{{row.filled}}</td>
      </ng-container>
    
      <!-- Sent column -->
      <ng-container matColumnDef="sent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Wysłanych </th>
        <td mat-cell *matCellDef="let row">{{row.sent}}</td>
      </ng-container>
    
      <!-- Status column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td  mat-cell *matCellDef="let row">
            <div class="status" *ngIf="row.status === PollStatus.open "><div class="dot green"></div> otwarta </div>
            <div class="status" *ngIf="row.status === PollStatus.editing "><div class="dot blue"></div> edytowana </div>
            <div class="status" *ngIf="row.status === PollStatus.close "><div class="dot red"></div> zamknięta </div>
        </td>
      </ng-container>
      
      <!-- Toggle column -->
      <ng-container matColumnDef="toggle">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td  mat-cell *matCellDef="let row">

            <!-- Toggled depends on status -->
          <mat-slide-toggle *ngIf="row.status === PollStatus.open" color="primary" checked="true" (change)="onToggleChange($event.source, row)"></mat-slide-toggle>
          <mat-slide-toggle *ngIf="row.status !== PollStatus.open" color="primary" checked="false" (change)="onToggleChange($event.source, row)"></mat-slide-toggle>
        </td>
      </ng-container>

      <!-- More Column -->
      <ng-container matColumnDef="more">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td  mat-cell *matCellDef="let row" >

          <!-- More button -->
          <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" aria-label="Button with menu" matTooltip="Więcej" matTooltipClass="tooltip-adjust">
            <mat-icon>expand_more</mat-icon>
          </button>

          <!-- More button menu -->
          <mat-menu #menu="matMenu">

            <!-- Send -->
            <button mat-menu-item  (click)="onSendButtonClick(row.slug)" [disabled]="row.status !== PollStatus.open">
              <mat-icon>send</mat-icon>
              <span>Wyślij</span>
            </button>

            <!-- Results -->
            <a style="text-decoration: none;" routerLink="/answers/poll_answers_by_slug/{{row.slug}}"><button *ngIf="row.status !== PollStatus.editing" mat-menu-item>
              <mat-icon>poll</mat-icon>
              <span>Wyniki</span>
            </button></a>

            <!-- Edit instead Results for editing poll-->
            <a style="text-decoration: none;" routerLink ='/form/edit/{{row.slug}}'><button *ngIf="row.status === PollStatus.editing" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Edytuj</span>
            </button></a>

            <!-- Preview -->
            <a style="text-decoration: none;" routerLink ='/form/{{row.slug}}'><button mat-menu-item>
              <mat-icon>pageview</mat-icon>
              <span>Podgląd</span>
            </button></a>

            <!-- Copy -->
            <button (click)="onCopyButtonClick(row)" mat-menu-item>
              <mat-icon>file_copy</mat-icon>
              <span>Kopiuj</span>
            </button>

            <!-- Delete -->
            <button class="delete-menu-item" (click)="onDeleteButtonClick(row)" mat-menu-item>
              <mat-icon class="delete-icon">delete_forever</mat-icon>
              <span class="delete-icon-text">Usuń</span>
            </button>
          </mat-menu>
  
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      <!-- Row shown when there is no data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">
          <div class="no-polls-message">
            <mat-icon>leaderboard</mat-icon>
            <div>
              Brak ankiet
            </div>
          </div>
        </td>
      </tr>
    </table>
    
    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 40]" aria-label="Select page of polls"></mat-paginator>
</div>
