<div class="checkbox-edit-answers">
<div *ngFor="let answer of answers" class="checkbox-edit-answer">
    <mat-checkbox >
    <textarea matInput placeholder="Wprowadź odpowiedź..."  maxlength="2000" cdkTextareaAutosize value="{{answer.answer}}">
    </textarea>
    </mat-checkbox>
    <button mat-icon-button color="primary"><div class="material-icons">close</div></button>
</div>
<div class="checkbox-new-answer">
    <mat-checkbox disabled="true">
        <textarea matInput placeholder="Wprowadź nową odpowiedź..."  maxlength="2000" cdkTextareaAutosize value="{{newAnswer}}" (change)="handleNewAnswerInput($event)">
        </textarea>
    </mat-checkbox>
</div>
</div>
