
<!-- Toolbar when Login or Register -->
<mat-toolbar *ngIf='hasRoute("/login") || hasRoute("/register")'  id="mat-toolbar" color="primary">

    <!-- Logo without link -->
    <div id="logo">@nkietka.pl</div>
    
    <!-- Buttons section -->
    <div>
        <!-- Login and Register button -->
        <a  mat-button routerLink="/login"> Zaloguj </a>
        <a  mat-button routerLink="/register"> Zarejestruj </a>
    </div>

</mat-toolbar>

<!-- Toolbar when logged -->
<mat-toolbar *ngIf='!(hasRoute("/login") || hasRoute("/register") || hasRoute("/form") || hasRoute("/greetings"))' id="mat-toolbar" color="primary">

    <!-- Logo with link-->
    <a class="logo-link" routerLink="/dashboard"><div id="logo"> @nkietka.pl </div></a>
    
    <!-- Buttons section -->
    <div>
        <!-- Logout button -->
        <a mat-button (click)="onLogout()"> Wyloguj </a>
    </div>

</mat-toolbar>

<!-- Toolbar when filling out the poll / preview -->
<mat-toolbar *ngIf="hasRoute('/form') || hasRoute('/greetings')"  id="mat-toolbar" color="primary">

    <!-- Logo with link to dashboard-->
    <div id="logo">@nkietka.pl</div>

</mat-toolbar>
