
<!-- Standard toolbar -->
<mat-toolbar *ngIf="!hasRoute('form')"  id="mat-toolbar" color="primary">

    <!-- Logo -->
    <div id="logo">@nkietka.pl</div>
    
    <!-- Buttons section -->
    <div>
            <a mat-button href="#">Wyloguj</a>
    </div>

</mat-toolbar>

<!-- Toolbar when filling out the poll -->
<mat-toolbar *ngIf="hasRoute('form')"  id="mat-toolbar" color="primary">

    <!-- Logo with link to dashboard-->
    <a class="logo-link" routerLink="/"><div id="logo">@nkietka.pl</div></a>

</mat-toolbar>
