#form-content {
  width: auto;
  padding: 50px;
  height: 100%;
}

#form-question-wrapper{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

#submit-form-button{
  width: 200px !important;
}

#button-wrapper{
  width: auto; 
  display: flex; 
  justify-content: center;
  padding: 20px;
}
