.content{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-and-filters-wrapper{
    margin: auto;
    max-width: 70rem;
    width: 100%;
}

/* Adjusting filters */
.filters-container{
    /* Main font of filters */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

/* Additional space to center elements in filters-container (grid of filters space)*/
.free-space{
    flex: 1;
}



/* Buttons space (change view and add poll) */
.buttons-space{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    /* align-self: stretch; */
    font-size: 1rem;
}

/* Change view button */
.btn-adjust{
    padding: 0 0.75em;
    /* margin-top: 2em; */
    line-height: 2.5em;
    font-size: 0.875em;
}

.btn-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-content .mat-icon{
    font-size: 1.5em;
    margin-left: 5px;
    height: 1em;
    width: 1em;
    line-height: 1em;
}

.add-poll-btn .mat-icon{
    font-size: 1.625em;
}



/* Status filter*/
.status-filter{
    overflow-x: auto;
}

::ng-deep .status-filter mat-tab-group {
    /* Scale the status filter */
    font-size: 1em !important;
} 


@media screen and (max-width: 480px){

    .filters-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* padding: 0 1.5em; */
        height: auto;
    }
    .buttons-space{
        justify-content: center;
    }

    ::ng-deep mat-tab-group{
        padding-bottom: 1em !important;
    }

    .btn-adjust{
        margin-bottom: 1em;
    }
}