<div class="content">

    <!-- The section containing the cards and their filters -->
    <div class="cards-and-filters-wrapper">

        <!-- Filters container -->
        <div class="filters-container">
            <div class="free-space"></div>
            <app-status-filter class="status-filter" (tabChange)="onStatusFilterChange($event)" [labelsList]="labels"></app-status-filter>
            <div class="buttons-space">
                <!-- Add poll button visible only when changeView === true -->
                <button *ngIf="changeView === true" class="btn-adjust add-poll-btn" mat-button>
                    <span class="btn-content">
                        Utwórz ankietę
                        <mat-icon color="primary">add</mat-icon>
                    </span>
                </button>
                <!-- Change View button -->
                <button class="btn-adjust" (click)="onChangeView()" mat-button>
                    <span class="btn-content">
                        Zmień widok
                        <mat-icon *ngIf="changeView === false" color="primary">view_list</mat-icon>
                        <mat-icon *ngIf="changeView === true" color="primary">grid_view</mat-icon>
                    </span>
                </button>
            </div>
        </div>

        <!-- Polls as cards when changeView === false -->
        <app-polls-as-cards *ngIf="changeView === false" [displayingPolls]="displayingPolls" (onDeletePoll)="onDeletePoll($event)" ></app-polls-as-cards>

        <!-- Table of polls when changeView === true-->
        <app-polls-table *ngIf="changeView === true" [displayingPolls]='displayingPolls' (onDeletePoll)="onDeletePoll($event)"></app-polls-table>
    
    </div>
</div>