
.checkbox-edit-answer{
    display: flex;
    align-items: center;
}

.checkbox-edit-answer button{
    margin-left: 1em;
}

::ng-deep mat-checkbox{
    width: 50%;
}

::ng-deep .mat-checkbox-layout{
    width: 100%;
}

::ng-deep .mat-checkbox-label{
    width: 100%;
}


