<div class="combobox-edit-answers">
    <div *ngFor="let answer of answers" class="combobox-edit-answer">
        <textarea matInput placeholder="Wprowadź odpowiedź..."  maxlength="2000" cdkTextareaAutosize value="{{answer.answer}}" (change)="handleAnswerChange($event, answer)">
        </textarea>
        <button mat-icon-button color="primary"><div class="material-icons" (click)="handleAnswerRemove(answer)">close</div></button>
    </div>
    <div class="combobox-add-answer">
        <mat-form-field floatLabel="never" [style.margin-left.px]=5 [style.width.%]=47 >
            <mat-label>Wprowadź nową odpowiedź...</mat-label>
            <input maxlength="2000" value="{{newAnswer}}" (change)="handleNewAnswerInput($event)" matInput>
        </mat-form-field>
        <!-- <textarea matInput placeholder="Wprowadź nową odpowiedź..."  maxlength="2000" cdkTextareaAutosize value="{{newAnswer}}" (change)="handleNewAnswerInput($event)">
        </textarea> -->
    </div>
</div>