<div class="answers-edit" [ngSwitch]="type">
    <app-checkbox-answer-edit *ngSwitchCase="questionType.Checkbox" [answers]="answers" [answerId]="questionId" (newAnswerCreated)="createNewAnswer($event)" (answerRemoved)="removeAnswer($event)"></app-checkbox-answer-edit>
    <app-combobox-answer-edit *ngSwitchCase="questionType.Combobox" [answers]="answers" [answerId]="questionId" (newAnswerCreated)="createNewAnswer($event)" (answerRemoved)="removeAnswer($event)"></app-combobox-answer-edit>
    <app-short-text-answer-edit *ngSwitchCase="questionType.ShortText" [answers]="answers" [answerId]="questionId" (newAnswerCreated)="createNewAnswer($event)"></app-short-text-answer-edit>
    <app-text-answer-edit *ngSwitchCase="questionType.LongText" [answers]="answers" [answerId]="questionId" (newAnswerCreated)="createNewAnswer($event)"></app-text-answer-edit>
    <app-radio-answer-edit *ngSwitchCase="questionType.Radio" [answers]="answers" [answerId]="questionId" (newAnswerCreated)="createNewAnswer($event)" (answerRemoved)="removeAnswer($event)"></app-radio-answer-edit>
    <app-scale-answer-edit *ngSwitchCase="questionType.Scale5" [answers]="answers" [answerId]="questionId" [scale]=5 (newAnswerCreated)="createNewAnswer($event)"></app-scale-answer-edit>
    <app-scale-answer-edit *ngSwitchCase="questionType.Scale10" [answers]="answers" [answerId]="questionId" [scale]=10 (newAnswerCreated)="createNewAnswer($event)"></app-scale-answer-edit>
</div>
