
<div style="height: 100%; display:flex; align-items: center; justify-content: center; background-color: #f9f9fb;" >
    <form [formGroup]="loginForm" class="mat-elevation-z6" mat-shadow style="border-radius: 5px; display:flex; flex-direction:column; width:100%; max-width: 300px; background-color: white; padding: 50px;" (submit)="onLoginButtonClick()">
        
        <h1 style="text-align: center; margin-bottom: 30px;">Logowanie</h1>
        <!-- Email -->
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input name="email" formControlName="email" type="text" matInput>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="fill">
            <mat-label>Hasło</mat-label>
            <input formControlName="password" type="text" matInput>
        </mat-form-field>
        
        <button style="margin: 20px 50px;" form="loginForm" mat-raised-button color="primary" routerLink="/dashboard" (click)="onLoginButtonClick()">Zaloguj</button>
       
    </form>
</div>

