
<div class="login-panel">


    <form [formGroup]="loginForm" class="login-form  mat-elevation-z6">
      
        <!-- Login header -->
        <h1 class="login-header">Logowanie</h1>

        <!-- Email -->
        <mat-form-field appearance="fill">

            <!-- Label -->
            <mat-label>Email</mat-label>
            <!-- Input -->
            <input type="email" formControlName="email" matInput>

            <!-- Errors displaying-->
            <mat-error *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
                Wprowadzony adres email jest niepoprawny!
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                Email jest wymagany!
            </mat-error>

        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="fill">

            <!-- Label -->
            <mat-label>Hasło</mat-label>
            <!-- Input -->
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" matInput>
            <!-- Toggle password visibility (suffix)-->
            <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{showPassword?'visibility_off':'visibility'}}
            </mat-icon>

            <!-- Errors displaying-->

            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Hasło jest wymagane!
              </mat-error>

        </mat-form-field>

        <!-- Message when incorrect data -->
        <span id="error-message"></span>

        <!-- Submit button -->
        <button class="submit-button" mat-raised-button color="primary" (click)="onLoginButtonClick()"> Zaloguj</button>
    </form>
</div>

