

.card {
    /* Using this font size we can scale size of card */
    font-size: 1em;
    width: 12.5em;
    margin: 0.75em;
    padding: 1em;
}

.card:hover{
    margin-bottom: 0.5625em;
    border-bottom: 0.1875em solid #3f51b5;
    border-radius: 0 0 4px 4px;
}
  

.mat-card-content{
    margin-bottom: 1em;
    font-size: 1em;
    margin: 0px -1em 1em -1em;
}

#startDate, #endDate{
    margin-bottom: 0px;
    text-align: center;
    background-color: #f0f2f5;
    font-size: 0.75em;
    color: rgba(0,0,0,.5);
    height: 1.75em;
    line-height: 1.9em;
    white-space: pre;
}

.fake-image{
    /* Center content x and y */
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 8.25em;
    margin: 0em -1em;
    /* background-color: rgba(0, 191, 255, 0.174); */
}
.editing-color{
    background-color: rgba(214, 234, 248, 1);
    background-image: radial-gradient(circle, rgba(214, 234, 248, 1) 0%, rgba(41, 53, 86, 0.01) 100%);
}
.close-color{
    background-color: rgba(245, 183, 177, 1);
    background-image: radial-gradient(circle, rgba(245, 183, 177, 1) 0%, rgba(41, 53, 86, 0.01) 100%);
}
.open-color{
    background-color: rgba(171, 235, 198, 1);
    background-image: radial-gradient(circle, rgba(171, 235, 198, 1) 0%, rgba(41, 53, 86, 0.01) 100%);
    
}

.poll-title{
    width: auto;
    margin: 1em 2em;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.25em;

    /* Line clamp */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  

}

::ng-deep .mat-card-header-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0em 0.5em !important;
    height: 3.125em;
}

.mat-card-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.125em !important;
    font-size: 1.125em;
    height: 1.25em;
    line-height: 1.25em;
    
}

.mat-card-subtitle{
    margin-bottom: 0.5em;
    margin-top: 0px !important;
    font-size: 0.875em;
    width: 100%;
    height: 1.25em;
    line-height: 1.25em;
}


.mat-card-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    padding: 0px;
    margin-bottom: 0.5em;
    font-size: 1em;
    height: 2.25em;
    line-height: 1.25em;
}

.mat-icon-button{
    width: 2em;
    height: 2em;
    line-height: 1.5em;
    /* To resize buttons */
    font-size: 1.2em;
}

/* Refer to icons inside card-actions */
.mat-card-actions .material-icons{
    font-size: 1.5em;  
    height: 1em; 
    width: 1em; 
    line-height: 1em; 
}

.delete-button:hover{
    color: #f44336
}

::ng-deep .tooltip-adjust{
    font-size: 0.625rem !important;
    margin: 0em 0em !important; 
    padding: 0em 1em !important;
}

::ng-deep .mat-slide-toggle-bar{
    font-size: calc((16*1em)/18) !important;
    width: 2.25em !important;
    height: 0.875em !important;
    border-radius: 0.5em !important;
    line-height: 1.5em !important;
}

::ng-deep .mat-slide-toggle-thumb{
    width: 1.25em !important; 
    height: 1.25em !important;
    line-height: 1.5em !important;
}

::ng-deep .mat-slide-toggle-thumb-container{
    width: 1.25em !important; 
    height: 1.25em !important;
    line-height: 1.5em !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(1em,0,0) !important;
}
/* To disable all ripple effects (especially when hover - grey circle) */
::ng-deep .mat-ripple.mat-slide-toggle-ripple.mat-focus-indicator{
    display: none; 
}


.three-dots-icon{
    opacity: 0.6;
    font-size: 2em;  
    height: 1em; 
    width: 1em; 
    line-height: 1em; 
}

@media screen and (max-width: 480px){
    .card{
        font-size: 0.6rem;
    }
}



