<mat-radio-group>
    <div *ngFor="let answer of answers" class="radio-answer-edit-entry">
        <mat-radio-button [value]="answer" [checked]="answer.result">
            <textarea matInput placeholder="Wprowadź odpowiedź..."  maxlength="2000" cdkTextareaAutosize value="{{answer.answer}}" (change)="handleAnswerChange($event, answer)">
            </textarea>
        </mat-radio-button>
        <button mat-icon-button color="primary"><div class="material-icons" (click)="handleAnswerRemove(answer)">close</div></button>
    </div> 
    <mat-radio-button disabled="true">
        <mat-form-field floatLabel="never" [style.width.%]=100 >
            <mat-label>Wprowadź nową odpowiedź...</mat-label>
            <input maxlength="2000" value="{{newAnswer}}" (change)="handleNewAnswerInput($event)" matInput>
        </mat-form-field>
        <!-- <textarea matInput placeholder="Wprowadź nową odpowiedź..."  maxlength="2000" cdkTextareaAutosize value="{{newAnswer}}" (change)="handleNewAnswerInput($event)">
        </textarea> -->
    </mat-radio-button>
</mat-radio-group>