
::ng-deep mat-radio-button{
    width: 100%;
}

::ng-deep .mat-radio-label{
    width: 100%;
}

::ng-deep .mat-radio-label-content{
    width: 100%;
}

textarea{
    margin-left: 1em;
    width: 60%;
}