<div class="content">

    <div class="cards-container">
        <!-- Create poll card -->
        <app-create-poll-card></app-create-poll-card>
        <!-- Rendering cards -->
        <app-card id="14" status="Aktywna" text="To jest krótka ankieta"></app-card>
        <app-card id="4" status="Edytowana" text="To jest bardzo długa ankieta, więc zarezerwuj sobie trochę czasu... Najlepiej cały wieczór..."></app-card>
        <app-card id="1" status="Oczekująca"></app-card>
        <app-card id="17" status="Zakończona"></app-card>
        <app-card id="24" status="Wstrzymana"></app-card>
        <app-card id="15" status="Aktywna" text="To jest bardzo długa ankieta, więc zarezerwuj sobie trochę czasu. Najlepiej cały wieczór. Najlepiej cały wieczór.Najlepiej cały wieczór.Najlepiej cały wieczór.Najlepiej cały wieczór."></app-card>
        <app-card id="54" status="Aktywna"></app-card>
        <app-card id="74" status="Aktywna"></app-card>
        <app-card id="114" status="Aktywna"></app-card>
        
    </div>
</div>