.content{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cards-container{
    /* Using this font size we can scale size of cards */
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 1rem 3rem;
    background-color: white;
    border-radius: 4px;
    min-height: 30rem;
}



.cards-and-filters-wrapper{
    margin: auto;
    width: 75%;
}



/* Adjusting filters */
.filters-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5em;
    height: auto;
    /* Main font of filters */
    font-size: 1rem;
}

/* Additional space to center elements in filters-container (grid of filters space)*/
.free-space{
    flex: 1;
}

.button-space{
    flex: 1;
    font-size: 1rem;
}

/* Change view button */
.change-view-btn{
    float: right;
    padding: 0 1em;
    line-height: 2.5em;
    font-size: 0.875em;
}

.change-view-btn-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-view-btn-content .mat-icon{
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    line-height: 1em;
}

/* Status filter*/
.status-filter{
    overflow-x: auto;
}

::ng-deep .status-filter mat-tab-group {
    /* Scale the status filter */
    font-size: 1em !important;
} 





@media screen and (max-width: 480px){
    ::ng-deep .status-filter mat-tab-group {
        /* Scale the status filter */
        font-size: 0.7em !important;
    } 

    .filters-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* padding: 0 1.5em; */
        height: auto;
    }
}