#form-edit-content {
    padding-left: 4vw;
    margin: 40px;
  }
  

button{
  margin: 0.2em;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 8vh;
  left: 0vw;
}

@media only screen and (max-width: 600px) {
  #form-edit-content {
    padding-left: 1vw;
    margin: 2em;
  }
}