#form-edit-content {
    padding-left: 4vw;

    margin: 40px;
  }
  

button{
  margin: 1em;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 8vh;
  left: 0vw;
}