
/* #form-title{
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
} */

#questions-cards-wrapper{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#content-container{
  width: auto;
  padding: 50px;
  height: 100%;
}

.buttons-container button{
  margin: 0.2em;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 12vw;
  bottom: 50vh;
}

@media only screen and (max-width: 992px) {
  #questions-cards-wrapper{
    width: 80%;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  #content-container{
    padding: 20px;
  }

  .buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 72px;
    padding: 6px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #questions-cards-wrapper{
    width: 100%;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  #content-container{
    padding: 20px;
  }

  .buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 72px;
    padding: 6px;
    width: 100%;
  }
}