
<!-- Title -->
<h1 mat-dialog-title>Wysyłanie ankiety</h1>
<mat-divider></mat-divider>


<!-- Content -->
<div mat-dialog-content>
    
    <!-- Main container includs message-area and recipients-area-->
    <div class="row">
        <mat-divider [vertical]="true"></mat-divider>
        
        <!-- Message area -->
        <div class="message-area">

            <form [formGroup]="messageForm" id="message-form" spellcheck="false" >
                <!-- Subject input -->
                <mat-form-field class="subject-input" appearance="fill">
                    <mat-label>Temat</mat-label>
                    <input formControlName="subject" (change)="onSubjectChange($event)" type="text" matInput>
                </mat-form-field>

                <!-- Content input -->
                <mat-form-field  appearance="fill">
                    <mat-label>Treść wiadomości</mat-label>
                    <textarea  formControlName="message" style="resize: none;" type="text" rows="14" matInput></textarea>
                </mat-form-field>    
            </form>
        </div>

        <!-- Recipients area -->
        <div class="recipients-area">
            
            <!-- Add recipient area -->
            <form [formGroup]="emailForm" id="add-recipient-form" style="background-color: aliceblue;">
                
                <!-- Input witch button as suffix -->
                <mat-form-field style="margin-top: 10px;">
                    
                    <mat-label>Adresat</mat-label>
                    <input type="email" placeholder="Wprowadź email" formControlName="email" matInput>
                    <button type="submit" (click)="addEmail()" color="primary" mat-button matSuffix><mat-icon>add</mat-icon></button>
                    <!-- <mat-error *ngIf="emailForm.controls['email'].invalid">{{getEmailErrorMessage()}}</mat-error> -->
                    <!-- <button type="button" mat-button color="primary" matSuffix>CSV</button> -->
                </mat-form-field>
                
                <!-- Import from CSV button -->
                <div class="buttons-container">
                    <!-- Button to open file dialog -->
                    <button id="import-button" type="button" mat-raised-button (click)="fileInput.click()" color="primary">Zaimportuj z CSV</button>
                    <input  type="file" hidden (change)="onFileSelected($event)" accept=".csv" #fileInput>
                    <!-- Return button -->
                    <button id="return-button"  [matTooltipDisabled]="removeHistory.length == 0" [disabled]="removeHistory.length == 0" matTooltip="Przywróć" matTooltipClass="tooltip-adjust" (click)="onReturnEmails()" type="button" mat-raised-button color="accent"><mat-icon>keyboard_return</mat-icon></button>
                    <!-- Delete all button -->
                    <button id="delete-button" matTooltip="Usuń wszystkie" matTooltipClass="tooltip-adjust" (click)="onRemoveAllEmails()" type="button" mat-raised-button color="warn"><mat-icon>delete_sweep</mat-icon></button>
                    <!-- <button *ngIf="recentEraseEmails.length !== 0" (click)="onReturnEmails()" type="button" mat-raised-button color="accent">Przywróc</button> -->
                    <!-- Button to erase inserted emails -->
                </div>
                

            </form>
            <mat-divider></mat-divider>

            <!-- List with emails -->
            <mat-selection-list class="list">

                <!-- When no emails -->
                <mat-list-item id="information" style="justify-content: center; height: 100px;" *ngIf="!isRecipient">
                    <span style="font-size: 14px; color: red;">Brak adresatów!</span>
                </mat-list-item>


                <!-- List items -->
                <div *ngFor="let email of emails">

                    <!-- Emails tags -->
                    <mat-list-item style="justify-content: space-between; background-color: white">
                        <span style="font-size: 14px; overflow-x: hidden; width: 200px; text-overflow: ellipsis;">{{email}}</span>
                        <button (click)="onDeleteEmail(email)" color="warn" mat-button><mat-icon>close</mat-icon></button>
                    </mat-list-item>
                    <mat-divider></mat-divider>

                </div>
                
            </mat-selection-list>

        </div>
        <mat-divider [vertical]="true"></mat-divider>

    </div>
    <mat-divider></mat-divider>
    
</div >


<!-- Buttons -->
<mat-dialog-actions  align="end">

    <!-- Return button -->
    <button mat-button [mat-dialog-close]="false">Powrót</button>

    <!-- Send button -->
    <button [disabled]="!(isSubject && isRecipient)" form="message-form" (click)="onSendPoll()" mat-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>
        <mat-icon style="margin-right: 5px;">send</mat-icon>
        <span>Wyślij</span>
    </button>

</mat-dialog-actions>
