
    <div *ngFor="let answer of answers">
        <div class="scale-answer">
            <mat-radio-group (change)="updateResult($event)">
            <div class="scale-label">1</div>
            <div class="scale-answer-container">
                
                <div *ngFor="let result of results; let i = index" [attr.data-index]="i">
                    <mat-radio-button [value]="{optionId: answer.id, content: i}" [checked]="result"></mat-radio-button>
                </div>
                
            </div>
            <div class="scale-label">{{scale}}</div>
            </mat-radio-group>
        </div>
    </div> 
