.scale-answer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
    padding: 1rem 0;
}
.scale-label{
    margin: 0.4em;
    font-size: large;
}

mat-radio-group{
    display: flex;
    flex-direction: row;
}