.question{
    margin-bottom: 1rem;
}


.mat-card{
    border-left: 4px solid #6279f9;
    /* border-left: 4px solid rgba(72, 151, 220, 0.852); */
}

textarea{
    width: 44%;
    padding: 1em;
    margin: 1em;
    margin-left: 0;
    margin-bottom: 0.25rem;
}

.question-edit-top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.question-type-select{
    width: 20%;
    border: 1px solid gray;
}